

<form action="" method="post">
<div class="subscribe-box__content">
<div class="subscribe__heading">[[%sendex_subscribe_intro?name=`[[+name]]`]]</div>
<label for="email" class="subscribe__label">[[+description]]</label>
<input type="textfield" name="email" id="email" value=""  placeholder="Email" class="inp"/>
</div>
<div class="subscribe-box__footer">
<input type="hidden" name="sx_action" value="subscribe">
<button type="submit" class="btn yellow ">[[%sendex_btn_subscribe]]</button> [[+message]]
</div>
</form>