|{var $title = $_modx->resource.pagetitle}
.proditem.mix.ms2_product
    a(href="/{$id | url}").proditem__image
       img(src="[[+medium]]", alt="{$pagetitle}")

    .proditem__content
        .proditem__title
            a(href="/{$id | url}") {$longtitle}
        |{if $old_price?}
        .proditem__price-old
            del от {$old_price} {'ms2_frontend_currency' | lexicon}</span>
        |{/if}
        .proditem__price
            ins от {$price} {'ms2_frontend_currency' | lexicon}
        | {if $old_price?}
        .proditem__sticker
            span {$article}
        | {/if}

    .proditem__footer
        .proditem__footer_in
            input(type="hidden", name="p-name", value="{$longtitle}")
            input(type="hidden", name="p-id", value="{$id}")
            input(type="hidden", name="p-price", value="{$price} EUR")
            input(type="hidden", name="p-img", value="[[~[[++site_start]]]][[+thumb]]")
            input(type="hidden", name="p-url", value="[[~[[++site_start]]]]{$id | url}")
            button(type="submit").btn.order-btn Оставить заявку

