.categories__item
    img(src="", alt="").categories__item_img
    .categories__item_text
        .categories__item_title
            a(href="") {$pagetitle}
        .categories__item_intro {$introtext}